manifest {
    name= "BCCDC-PHL/nextclade-nf"
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.0'
}

params {
    profile = false
    analysis_parent_dir = "NO_FILE"
    consensus_subdir = "ncovIllumina_sequenceAnalysis_callConsensusFreebayes"
    dataset_dir = "NO_FILE"
    dataset_name = "sars-cov-2"
    genome_completeness_threshold = 85
    outdir = "output"
}

process {
    withName: "nextclade_run" {
	cpus = 16
	memory = "2 GB"
    }
}

profiles {
    conda {
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }
}

